.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.loginForm {
  width: 300px;
  text-align: center;
}

.buttonContainer {
  margin-top: 10px;
}
